
@model IEnumerable<Project>

@if (Model is not null)
{
    <div class="container">
        <div class="row row-cols-1 row-cols-md-2 g4">
            @foreach (var project in Model)
            {
                <div class="col">
                    <img src="@project.ImageUrl" class="card-img-top" alt="Image Project" height="200" />
                    <div class="card h-30">
                        <div class="card-body">
                            <h5 class="card-title">@project.Name</h5>
                            <p class="card-text">@project.Description</p>
                            <a class="btn btn-secondary" href="@project.Link" target="_blank" rel="noopener noreferrer">
                                Visit
                            </a>
                        </div>                      
                    </div>
                </div>
            }
        </div>
    </div>
}