@*
*@
@{
    ViewData["Title"] = "Thanks";
}

<h1>Thanks for contacting me!</h1>
<p> I will return a message as soon as possible</p>

<div>
    <a asp-action="Index" asp-controller="Home">Return Home</a>
</div>
